{% extends "base.html" %}
{% block main %}<div id="main-slider">{% endblock %}
{% block graph %}<li>{% endblock %}
{% block monitor %}<li class="active">{% endblock %}
{% block previous %}<li>{% endblock %}
{% block simulate %}<li>{% endblock %}
{% block settings %}<li>{% endblock %}

{% block content %}

<h3>Monitoring Successful for the following PCs.</h3>

<br><br>


<center>

<h4>Client Details And Now We will just capture the packets</h4>
<table style="width:500px;color:#000000" class="table table-striped">
<th><center>IP of PC</center></th>
<th><center>PC ID</center></th>

{% for particularobj in hosts  %}

<tr>
<td><center>{{particularobj.hostip}}</center></td>
<td><center>{{particularobj.hostname}}</center></td>



</center></td>
</tr>

{% endfor %}
</table>
</center>

</br>
</br>
<div class="row">
<div class="col-lg-1"></div>
<div class="col-lg-4">

<form id="info" class="form-horizontal" action="/nettest/executetsharkmonitor/" method="POST" >
{% csrf_token %}
<div class="control-group">
        <label class="control-label" for="inputpcip">Time:</label>
        <div class="controls">
        <input type="text" id="dur" name="dur" placeholder="Enter Time" class="form-control" style="width:270px"/>
        </div>
        </div>

    <!--    <div class="control-group">
        <label class="control-label" for="inputpcname">Destination Ip:</label>
        <div class="controls">
            <input type="text" name="server" id="server" placeholder="Enter Destination" class="form-control" style="width:270px"><br>
        </div>
        </div>
     --> 



<input type="hidden" name="server" value="{{server}}">

	  <div class="control-group">
        <label class="control-label" for="inputpcname">Destination IP:</label>
        <div class="controls">
           
		   {{server}}
		   
		   <br>
		   		   <br>
		   <br>



        </div>
        </div>
	

<input type="submit" class="btn btn-primary" value="Submit" name="btn" id="wait" data-toggle="modal" data-target="#pleaseWaitDialog" />
        <div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <h2 style="color:#ffffff">please wait for results</h2>
        </div>
        <div class="modal-body">
		<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
   
  </div>
</div>
            
			
        </div>
    </div>
</form>
</div>
</div>
{% endblock %}
